* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: AliceBlue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: 10% auto 20px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 10px 50px;
  background-color: rgb(85, 85, 85);
}

.logo {
  cursor: pointer;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.logo a {
  font-size: large;
  padding: 10px;
  color: aqua;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}
/* nav ul li:first-child {
  margin-left: 0;
}
nav ul li:last-child {
  margin-right: 0;
} */

a {
  color: #fff;
  padding: 5px;
  transition: all 0.2s;
  background: rgb(64, 64, 255);
  border-radius: 10px;
  text-decoration: none;
}

#content {
  grid-area: content;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container {
  background-color: gray;
  border-radius: 5px;
  padding: 20px;
  width: 250px;
  height: auto;
  /* margin: 50px auto; */
}

.change-btn {
  padding: 5px;
  margin: 10px 5px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.red {
  background-color: red;
  color: #fff;
}

.blue {
  background-color: blue;
  color: #fff;
}

.yellow {
  background-color: yellow;
}

footer {
  grid-area: footer;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 8px;
  letter-spacing: 1px;

  bottom: 0;
  right: 0;
  /* height: auto; */
  padding: 6px;
}
